---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/products/mass_create
    body:
      encoding: UTF-8
      string: '{"utoken":"Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC","products":{"50":{"name":"Blackberry
        Acai1","url":"https://www.google.com"}},"return_email_address":null,"result_callback_url":null}'
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.6
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":{"message":"You are not authorized to access this page.","code":401,"error_type":"Exceptions::AccessDenied","uuid":"5088ee0f-8e51-43dd-81d3-b2df384de12d","s":4}}'
  recorded_at: Tue, 29 Oct 2019 13:56:31 GMT
- request:
    method: post
    uri: https://api.yotpo.com/apps/qMwb2i9iJANf7BtXA0MqhKB9opq2sRLRwNYmXaCK/products/mass_create
    body:
      encoding: UTF-8
      string: '{"utoken":"LjRHHPuW4zmcLNyLRAlvEkmGqZ1LULYF62FMIzvM","products":{"50":{"name":"T-shirt","url":"https://www.google.com"}},"return_email_address":null,"result_callback_url":null}'
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.6
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":{"message":"You are not authorized to access this page.","code":401,"error_type":"Exceptions::AccessDenied","uuid":"11305a1c-2ba7-4174-86f4-3f2ddf5a8c5b","s":4}}'
  recorded_at: Tue, 29 Oct 2019 13:57:40 GMT
- request:
    method: put
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/products/mass_update
    body:
      encoding: UTF-8
      string: '{"utoken":"Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC","products":{"50":{"name":"T-shirt","url":"https://www.google.com"}},"return_email_address":null,"result_callback_url":null}'
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.6
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":{"message":"You are not authorized to access this page.","code":401,"error_type":"Exceptions::AccessDenied","uuid":"7b648a07-3af8-4f42-8cb3-5d4a831fc238","s":4}}'
  recorded_at: Tue, 29 Oct 2019 14:01:49 GMT
recorded_with: VCR 5.0.0
