---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/features
    body:
      encoding: UTF-8
      string: '{"utoken":"Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC","id":1}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a873ac57132fed9ae7f368e3c8c85724"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"}}'
  recorded_at: Wed, 18 Nov 2015 10:55:26 GMT
recorded_with: VCR 2.9.3
