---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/reviews/2/vote/up
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f32366c832113a7fc943052719cfc37a"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"vote":{"id":807}}}'
  recorded_at: Thu, 17 Dec 2015 11:51:15 GMT
recorded_with: VCR 3.0.0
