---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/questions/451/answers
    body:
      encoding: UTF-8
      string: '{"comment":{"content":"This is the answer","public":true},"utoken":"Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC"}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2a3c73cd6422206e1d7f124d8ffcf057"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"comment":{"id":773,"commentable_id":451,"commentable_type":"Question","content":"This
        is the answer","votes_up":0,"votes_down":0,"public":true,"approved":true,"created_at":"2015-12-08T12:48:32Z","store_owner_comment":true,"answerer":{"id":5,"display_name":"Tova","slug":"faye_buckridge","social_image":null,"is_social_connected":false,"bio":null,"score":0,"badges":[]}}}}'
  recorded_at: Tue, 08 Dec 2015 12:48:33 GMT
recorded_with: VCR 3.0.0
