---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/v1/widget/vzStmYud6bHLto5ksn5DoGoA7ghM0kzjMdH2DS5T/products/products_information?domain_keys%5B%5D=1&domain_keys%5B%5D=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.1
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yotpo-Parsed-Request:
      - '{"format":"json","controller":"widget/products","action":"products_information","app_key":"vzStmYud6bHLto5ksn5DoGoA7ghM0kzjMdH2DS5T"}'
      Etag:
      - W/"b8bb74f4e812cc9bb09d713b88bc2b0c"
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"products":{"1":{"id":88,"name":"Angry
        Bird","domain_key":"1","product_link":"https://yotpo.com/go/mEiK6Ji5","product_url":"http://yotpo.mysimplestore.com/products/angry-bird","image_url":"https://s3.amazonaws.com/yotpo-images-test/Product/88/123/square.png?1503838853","score":null,"reviews_count":null}}}}'
  recorded_at: Tue, 05 Dec 2017 15:45:28 GMT
recorded_with: VCR 3.0.3
