---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/subomain_check/shalom1?utoken=Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9c50c01193944b740719a84607eeaaa0"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"subdomain":{"available":"true","subdomain":"shalom1"}}}'
  recorded_at: Sun, 19 Jul 2015 07:31:38 GMT
- request:
    method: get
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/bottom_lines?utoken=Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b18b1a5e5b4f24aa1bc24d8df541a235"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"bottomlines":[{"domain_key":"120915246","product_score":"4.0","total_reviews":1},{"domain_key":"D-4771","product_score":"4.0","total_reviews":2}]}}'
  recorded_at: Sun, 19 Jul 2015 07:31:40 GMT
recorded_with: VCR 2.9.3
