---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/apps/nNgGNA54ETOqaXQ7hRZymxqdtwwetJKDVs0v8qGG/bottom_lines?utoken=mz3AdCKGsoxJB00u0gmq2usGE3HI8HDHFZC5dlLl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - 0.0.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1098f768b6bbfd4e53e90ac3390a772e"'
    body:
      encoding: US-ASCII
      string: ! '{"status":{"code":200,"message":"OK"},"response":{"bottomlines":[{"domain_key":"D-4771","product_score":"3.0","total_reviews":100},{"domain_key":"S5","product_score":"4.5","total_reviews":2},{"domain_key":"123","product_score":"5.0","total_reviews":4}]}}'
  recorded_at: Thu, 23 May 2013 12:01:38 GMT
- request:
    method: get
    uri: https://api.yotpo.com/apps/nNgGNA54ETOqaXQ7hRZymxqdtwwetJKDVs0v8qGG/subomain_check/shalom1?utoken=mz3AdCKGsoxJB00u0gmq2usGE3HI8HDHFZC5dlLl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - 0.0.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"9c50c01193944b740719a84607eeaaa0"'
    body:
      encoding: US-ASCII
      string: ! '{"status":{"code":200,"message":"OK"},"response":{"subdomain":{"available":"true","subdomain":"shalom1"}}}'
  recorded_at: Thu, 23 May 2013 12:05:12 GMT
recorded_with: VCR 2.2.5
