---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/lock_state
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.1
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yotpo-Parsed-Request:
      - '{"action":"lock_state","controller":"apps","id":"3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy"}'
      Etag:
      - '"c3733c6fbd8c6c10a81437240c49c7f9"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"active":true}}'
  recorded_at: Tue, 16 May 2017 13:55:49 GMT
recorded_with: VCR 2.9.3
