---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/apps/nNgGNA54ETOqaXQ7hRZymxqdtwwetJKDVs0v8qGG/subomain_check/shalom1?utoken=SjXjHQ01wUj7dezYWbqCT4aixbY4UudTJReqxk2A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"9c50c01193944b740719a84607eeaaa0"'
    body:
      encoding: US-ASCII
      string: ! '{"status":{"code":200,"message":"OK"},"response":{"subdomain":{"available":"true","subdomain":"shalom1"}}}'
  recorded_at: Thu, 23 May 2013 14:18:50 GMT
- request:
    method: get
    uri: https://api.yotpo.com/apps/nNgGNA54ETOqaXQ7hRZymxqdtwwetJKDVs0v8qGG/bottom_lines?utoken=SjXjHQ01wUj7dezYWbqCT4aixbY4UudTJReqxk2A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"3bd4ea3f4ca23a43afb807a0c6716b41"'
    body:
      encoding: US-ASCII
      string: ! '{"status":{"code":200,"message":"OK"},"response":{"bottomlines":[{"domain_key":"D-4771","product_score":"2.92","total_reviews":103},{"domain_key":"S5","product_score":"4.5","total_reviews":2},{"domain_key":"123","product_score":"5.0","total_reviews":4}]}}'
  recorded_at: Thu, 23 May 2013 14:18:54 GMT
recorded_with: VCR 2.2.5
