---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/apps/nNgGNA54ETOqaXQ7hRZymxqdtwwetJKDVs0v8qGG/account_platform
    body:
      encoding: UTF-8
      string: ! '{"account_platform":{"shop_token":"asdasdadads","shop_domain":"schmitt.com","plan_name":"test
        plan","platform_type_id":1,"deleted":false},"utoken":"mz3AdCKGsoxJB00u0gmq2usGE3HI8HDHFZC5dlLl"}'
    headers:
      Yotpo-Api-Connector:
      - 0.0.4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"a256df543f1a87337d22e71180e5dd02"'
    body:
      encoding: US-ASCII
      string: ! '{"status":{"code":200,"message":"OK"},"response":{"account_platform":{"id":1,"shop_token":null,"shop_domain":null,"plan_name":null,"platform_type":{"id":2,"name":"general","description":"users
        that signup for general purpose","billable":false},"deleted":null,"shop_user_name":null,"secondary_cancelled_charge_at":null,"secondary_activated_charge_at":null,"secondary_recurring_charge_id":null,"secondary_shop_token":null}}}'
  recorded_at: Thu, 23 May 2013 12:01:38 GMT
recorded_with: VCR 2.2.5
