---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/users
    body:
      encoding: UTF-8
      string: '{"user":{"email":"newuser4@email.com","display_name":"User Name","first_name":"First
        Name","last_name":"Last Name","website_name":"My Awesome Web Site","password":"thisispass","support_url":"https://www.google.com/support","callback_url":"https://www.google.com/callback","url":"https://www.google.com"}}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6e07503d37d609319a7c76847b323f54"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"user_id":3614616,"token":"GmASkoy7Y0WulCCdo1bzst9tm9dEif42LJZ1VJYF","app_key":"yqvXSGuouqW2Tzbqg6bn68QZebJZWVmXxNk5Ymdk","secret":"sMoEcYmxkbnLgiMrNndvNa7vJfAwwXqw2t3AmM6V"}}'
  recorded_at: Sun, 19 Jul 2015 07:31:40 GMT
recorded_with: VCR 2.9.3
