---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/core/v3/stores/foo/products/445581456/variants
    body:
      encoding: UTF-8
      string: '{"variant":{"external_id":"10","name":"New Product Variant"}}'
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.6
      X-Yotpo-Token:
      - baz
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Limit:
      - '5'
      Ratelimit-Reset:
      - '1'
      Correlation-Id:
      - 0c4a6607-f7af-4854-ad4b-4bf98e648234
    body:
      encoding: ASCII-8BIT
      string: '{"variant":{"yotpo_id":577594830}}'
  recorded_at: Mon, 10 Oct 2022 22:26:16 GMT
recorded_with: VCR 6.1.0
