---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/account_platform
    body:
      encoding: UTF-8
      string: '{"account_platform":{"shop_token":"asdasdadads","shop_domain":"yahoo.com","plan_name":"test
        plan","platform_type_id":1,"deleted":false},"utoken":"Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC"}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8186bb3d10d92194eed51d7a44ea5798"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"account_platform":{"id":19340,"shop_token":"0ececa38a17419d3d3bd2326ff4fe967","shop_secret":null,"shop_domain":"vlad-test-shop.myshopify.com","plan_name":"affiliate","platform_type":{"id":1,"name":"shopify","description":"cool
        e-commerece host and platform","billable":true},"deleted":false,"shop_user_name":null,"secondary_cancelled_charge_at":"2013-10-01T13:17:27Z","secondary_activated_charge_at":null,"secondary_recurring_charge_id":null,"secondary_shop_token":null,"encrypted_data":null,"integration_version":"current"}}}'
  recorded_at: Sun, 19 Jul 2015 07:31:38 GMT
recorded_with: VCR 2.9.3
