---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/reviews/1/comments
    body:
      encoding: UTF-8
      string: '{"utoken":"Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC","comment":{"content":"Comment
        content","public":true}}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"30fb2876c993419b3bd21dc27db52145"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"comment":{"id":5,"commentable_id":1,"commentable_type":"Review","content":"Comment
        content","public":true,"created_at":"2015-11-18T16:24:10Z"}}}'
  recorded_at: Wed, 18 Nov 2015 16:24:10 GMT
recorded_with: VCR 2.9.3
