---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/users
    body:
      encoding: UTF-8
      string: ! '{"user":{"email":"newuser@email.com","display_name":"User Name","first_name":"First
        Name","last_name":"Last Name","website_name":"My Awesome Web Site","password":"thisispass","support_url":"https://www.google.com/support","callback_url":"https://www.google.com/callback","url":"https://www.google.com"}}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.5
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"052a094cc26bad9db147f9f83b4a8e9a"'
    body:
      encoding: US-ASCII
      string: ! '{"status":{"code":200,"message":"OK"},"response":{"user_id":9,"token":"66YHgLWUfRopeTBLAjGtTCDCsnHHuMD1oKJ7m4tj","app_key":"byrktwaT76y0mKpBKyajf2fPxbHUQ7lN8kgvhcAp","secret":"wKdvGjywHYXltsP8JfpiQB6JXuS7yymNmaLlA3QT"}}'
  recorded_at: Thu, 23 May 2013 14:18:53 GMT
recorded_with: VCR 2.2.5
