---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/account_socials
    body:
      encoding: UTF-8
      string: '{"account_social":{"social_network_name":"INSTAGRAM","access_token":78910,"social_id":111213141516,"secret":null,"page_token":null,"page_id":null,"message":null,"social_push_type_id":null,"invalidated_at":null},"utoken":"Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC"}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yotpo-Parsed-Request:
      - '{"action":"create","controller":"account_socials","app_id":"3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy"}'
      Etag:
      - '"103fc14187a0c64fe3c8f4569de2d8f3"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"account_social":{"id":17,"social_network":{"name":"INSTAGRAM"},"access_token":78910,"secret":null,"social_id":111213141516,"page_token":null,"page_id":null,"message":null,"message_with_default":"Thinking
        about buying {product}? Read our latest review of the product by {user}.","installed_on_page":false,"social_push_type":{"name":"MANUAL"},"invalidated_at":null}}}'
  recorded_at: Tue, 22 Mar 2016 14:50:08 GMT
recorded_with: VCR 2.9.3
