---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/reviews/dynamic_create
    body:
      encoding: UTF-8
      string: '{"appkey":"3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy","sku":"D-4771","product_title":"Product
        Title","product_description":"Nullam ultrices purus a metus porttitor hendrerit.
        Vivamus accumsan congue urna a viverra. Nam molestie euismod est, vitae sollicitudin
        velit scelerisque vel. Quisque feugiat, metus sed tempus malesuada, quam erat
        volutpat metus, a tempor felis est id purus. Ut nec felis nunc, id cursus
        magna. Mauris sollicitudin ultrices velit vitae viverra. Nulla faucibus lacus
        id nisl euismod porta. Curabitur mi magna, tempus tristique commodo sit amet,
        imperdiet in eros. Proin eros arcu, ornare in lobortis eu, posuere ut risus.
        Quisque fermentum varius nibh, id aliquet lectus congue quis. In placerat
        arcu at libero posuere eleifend. Donec lacinia mollis lacus, at aliquam nisi
        molestie nec. Cras eleifend gravida nulla, vitae mollis eros varius eleifend.
        Pellentesque elit sem, lacinia eget fringilla vitae, condimentum eu quam.
        Proin quis orci arcu, ut suscipit arcu.","product_url":"https://www.google.com/?q=pforducturl","product_image_url":"https://www.google.com/images/srpr/logo4w.png","display_name":"User
        Name","email":"user@email.com","review_content":"Integer feugiat nunc non
        leo vehicula bibendum. Nulla at tortor at nulla faucibus suscipit. Curabitur
        sodales est vel orci lobortis convallis. Vestibulum sit amet tellus neque,
        ac euismod arcu. Phasellus a nunc ultrices erat condimentum facilisis. Donec
        a odio in ligula vestibulum lobortis. Mauris posuere, justo tincidunt tincidunt
        interdum, felis velit venenatis augue, vel rhoncus purus turpis ut magna.
        Quisque consequat elit vitae enim molestie mattis. Class aptent taciti sociosqu
        ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur adipiscing
        consequat lectus eu pulvinar. Vestibulum ante ipsum primis in faucibus orci
        luctus et ultrices posuere cubilia Curae","review_title":"Fusce commodo felis
        quis turpis fringilla egestas","review_score":4.5,"signature":"e3a30f856453983fc3884ca0c9ef1f31862e6ad25199803dbc192bf2a58f2b31","time_stamp":"1426770722","reviewer_type":"verified_buyer"}'
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"46acf7135ae19284c8c1e53efe5a509a"
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"reviews":[{"id":73391005,"content":"Integer
        feugiat nunc non leo vehicula bibendum. Nulla at tortor at nulla faucibus
        suscipit. Curabitur sodales est vel orci lobortis convallis. Vestibulum sit
        amet tellus neque, ac euismod arcu. Phasellus a nunc ultrices erat condimentum
        facilisis. Donec a odio in ligula vestibulum lobortis. Mauris posuere, justo
        tincidunt tincidunt interdum, felis velit venenatis augue, vel rhoncus purus
        turpis ut magna. Quisque consequat elit vitae enim molestie mattis. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
        himenaeos. Curabitur adipiscing consequat lectus eu pulvinar. Vestibulum ante
        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae","title":"Fusce
        commodo felis quis turpis fringilla egestas","score":4,"user":{"id":24333822,"display_name":"User
        N.","social_image":"https://ddcfq0gxiontw.cloudfront.net/images/anonymous_user.png","is_social_connected":false},"user_type":"AnonymousUser","users":[],"products":[{"Location_idx":[0,0],"Product":{"id":6558012,"name":"Product
        Title","slug":"product-title--429","product_url":"https://www.google.com/?q=pforducturl","shorten_url":"https://yotpo.com/go/oyhF9ltB","images":[{"id":6299789,"image_url":"https://ddcfq0gxiontw.cloudfront.net/Product/6558012/6299789/square.png?1455254154","big_image_url":"https://ddcfq0gxiontw.cloudfront.net/Product/6558012/6299789/big.png?1455254154"}],"social_network_links":{"facebook":"https://yotpo.com/go/zjgc1NGk","twitter":"https://yotpo.com/go/ay9VqGAW","linkedin":"https://yotpo.com/go/rt8WlkID","google_oauth2":"https://yotpo.com/go/7yeVqGzJ"},"facebook_testemonials_page_product_url":"https://yotpo.com/go/gp6zp25E"}}],"votes_up":0,"votes_down":0,"user_vote":0,"created_at":"2018-11-15T18:19:13.269Z","deleted":false,"new":true,"verified_buyer":true,"archived":false,"social_pushed":false,"facebook_pushed":0,"twitter_pushed":0,"account":{"id":19699,"domain":"http://vlad-test-shop.myshopify.com"},"products_apps":[{"id":6481683,"product_url":"https://www.google.com/?q=pforducturl","domain_key":"D-4771","product":{"id":6558012,"name":"Product
        Title"}}]}]}}'
  recorded_at: Thu, 15 Nov 2018 18:19:14 GMT
recorded_with: VCR 4.0.0
