---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/purchases
    body:
      encoding: UTF-8
      string: '{"utoken":"Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC","email":"some@one.com","customer_name":"Customer
        Name","order_date":null,"currency_iso":null,"order_id":"123","platform":"shopify","products":{"p1":{"url":"http://example_product_url1.com","name":"product1","image":"http://example_product_image_url1.com","description":"this
        is the description of a product"}}}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ff338c05e925e0da825f92d06e112107"'
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"OK"}'
  recorded_at: Mon, 30 Nov 2015 07:49:25 GMT
recorded_with: VCR 3.0.0
