---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/apps/nNgGNA54ETOqaXQ7hRZymxqdtwwetJKDVs0v8qGG/purchases/mass_create
    body:
      encoding: UTF-8
      string: ! '{"utoken":"mz3AdCKGsoxJB00u0gmq2usGE3HI8HDHFZC5dlLl","orders":[{"email":"brandt@kuhnboehm.us","customer_name":"myles","order_id":"123","platform":"shopify","products":[{"p1":{"url":"http://example_product_url1.com","name":"product1","image":"http://example_product_image_url1.com","description":"this
        is the description of a product"}}]}]}'
    headers:
      Yotpo-Api-Connector:
      - 0.0.4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"c09c7c5e1681219e88278dab7a45d672"'
    body:
      encoding: US-ASCII
      string: ! '{"code":500,"message":"Failure. no such platform: "}'
  recorded_at: Thu, 23 May 2013 12:01:39 GMT
recorded_with: VCR 2.2.5
