---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/users
    body:
      encoding: UTF-8
      string: ! '{"user":{"email":"pete@goodwin.name","display_name":"doug","first_name":"Destiny","last_name":"Waelchi","website_name":"breitenberg.us","password":"doloribus
        dolor suscipit","support_url":"http://abernathyabbott.us","callback_url":"http://kemmer.com","url":"http://nienow.biz"}}'
    headers:
      Yotpo-Api-Connector:
      - 0.0.4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"9c81cf7440d9e1dae8bc324ca96d8b76"'
    body:
      encoding: US-ASCII
      string: ! '{"status":{"code":200,"message":"OK"},"response":{"user_id":8,"token":"GJ7Nab513wIJ4NiYMcFTZ2c0Q3cIonpPAtBnUrPN","app_key":"iRpux0cHoeX5aSex6wwv1dvYBLF0d4ZRetPJpspU","secret":"ObSAkmUFj87v8qh7eRzZzUy0AnaAisB0OQ7sf0or"}}'
  recorded_at: Thu, 23 May 2013 12:00:54 GMT
recorded_with: VCR 2.2.5
