---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/images/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.1
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yotpo-Parsed-Request:
      - '{"format":"json","controller":"images","action":"show","id":"5"}'
      Etag:
      - W/"8d7961068fa8091bac9925ccf6939fac"
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"image":{"id":5,"image_url":"https://s3.amazonaws.com/yotpo-images-test/Review/22/5/thumb.jpg?1487686542","big_image_url":"https://s3.amazonaws.com/yotpo-images-test/Review/22/5/big.jpg?1487686542","image_content_type":"image/jpeg","image_width":200,"image_height":200,"imageable_type":"Review","imageable_id":22}}}'
  recorded_at: Thu, 16 Nov 2017 15:13:55 GMT
- request:
    method: get
    uri: https://api.yotpo.com/v1/widget/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/images/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.1
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yotpo-Parsed-Request:
      - '{"format":"json","controller":"widget/images","action":"show","app_key":"3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy","id":"5"}'
      Etag:
      - W/"8d7961068fa8091bac9925ccf6939fac"
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"image":{"id":5,"image_url":"https://s3.amazonaws.com/yotpo-images-test/Review/22/5/thumb.jpg?1487686542","big_image_url":"https://s3.amazonaws.com/yotpo-images-test/Review/22/5/big.jpg?1487686542","image_content_type":"image/jpeg","image_width":200,"image_height":200,"imageable_type":"Review","imageable_id":22}}}'
  recorded_at: Mon, 04 Dec 2017 08:05:10 GMT
- request:
    method: get
    uri: https://api.yotpo.com/v1/widget/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/images/show/5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.1
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yotpo-Parsed-Request:
      - '{"format":"json","controller":"widget/images","action":"show","app_key":"3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy","id":"5"}'
      Etag:
      - W/"8d7961068fa8091bac9925ccf6939fac"
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"image":{"id":5,"image_url":"https://s3.amazonaws.com/yotpo-images-test/Review/22/5/thumb.jpg?1487686542","big_image_url":"https://s3.amazonaws.com/yotpo-images-test/Review/22/5/big.jpg?1487686542","image_content_type":"image/jpeg","image_width":200,"image_height":200,"imageable_type":"Review","imageable_id":22}}}'
  recorded_at: Mon, 04 Dec 2017 09:36:19 GMT
recorded_with: VCR 3.0.3
