---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/oauth/token
    body:
      encoding: UTF-8
      string: ! '{"client_id":"nNgGNA54ETOqaXQ7hRZymxqdtwwetJKDVs0v8qGG","client_secret":"YUFV3FrFHGbAJLPsOR8JebwUUhGJg9Z42XKj3Umm","grant_type":"client_credentials"}'
    headers:
      Yotpo-Api-Connector:
      - 0.0.4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"544441b4753b99aa4b0d51467fa541b0"'
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"mz3AdCKGsoxJB00u0gmq2usGE3HI8HDHFZC5dlLl","token_type":"bearer"}'
  recorded_at: Thu, 23 May 2013 12:00:52 GMT
recorded_with: VCR 2.2.5
