---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/products/nNgGNA54ETOqaXQ7hRZymxqdtwwetJKDVs0v8qGG/D-4771/bottomline
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - 0.0.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"a4d380f1871e0cae0e5176bbd3645fcf"'
    body:
      encoding: US-ASCII
      string: ! '{"status":{"code":200,"message":"OK"},"response":{"bottomline":{"average_score":3.0,"total_reviews":100}}}'
  recorded_at: Thu, 23 May 2013 12:01:38 GMT
recorded_with: VCR 2.2.5
