---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/features?utoken=Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yotpo-Parsed-Request:
      - '{"action":"index","controller":"owners_features","app_id":"3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy"}'
      Etag:
      - '"52849dd5f87b7053be515b38082ec772"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"features":[{"id":2,"name":"Campaigns","description":"Campaigns","user_enabled":1,"owner_type":"Account"},{"id":5,"name":"Notifications","description":"Display
        Notifications for b2b user","user_enabled":1,"owner_type":"Account"},{"id":6,"name":"DashboardSideBar","description":"Display
        Dashboard","user_enabled":1,"owner_type":"Account"},{"id":7,"name":"InviteAFriend","description":"Invite
        a friend to use Yotpo","user_enabled":1,"owner_type":"Account"},{"id":8,"name":"StayUpdated","description":"Yotpo
        facebook box","user_enabled":1,"owner_type":"Account"},{"i[...]
