---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/products/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/120915246/reviews?count=5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"380ac347b2304fc3840ae1d5adb88381"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"total_reviews":1,"reviews":[{"id":7286135,"content":"asdadsa
        asd asd asd asd","title":"asd asd asd ads","score":4,"user":{"id":3390467,"display_name":"aasdasd
        asd","social_image":"https://ddcfq0gxiontw.cloudfront.net/images/anonymous_user.png","is_social_connected":false},"user_type":"AnonymousUser","users":[],"products":[{"Location_idx":[0,0],"Product":{"product_url":"http://vlad-test-shop.myshopify.com/collections/frontpage/products/test-product","id":817499,"name":"Test
        Product","slug":"test-product--95","shorten_url":"https://yotpo.com/go/65ziFTpN","images":[{"id":850232,"image_url":"http://ddcfq0gxiontw.cloudfront.net/Product/817499/850232/square.png?1382372991"}],"social_network_links":{"facebook":"https://yotpo.com/go/24kEqVvP","twitter":"https://yotpo.com/go/ad27nebt","linkedin":"https://yotpo.com/go/vIp7dQEB","google_oauth2":"https://yotpo.com/go/uTqrjFn7"},"facebook_testemonials_page_product_url":"https://yotpo.com/go/2a8aRbr5"}}],"votes_up":0,"votes_down":0,"user_vote":0,"created_at":"2015-07-19T07:21:28Z","deleted":false,"new":true,"verified_buyer":false,"archived":false,"social_pushed":false,"facebook_pushed":0,"twitter_pushed":0,"account":{"id":19699,"domain":"http://vlad-test-shop.myshopify.com"},"products_apps":[{"id":789680,"product_url":"http://vlad-test-shop.myshopify.com/collections/frontpage/products/test-product","domain_key":"120915246","product":{"id":817499,"name":"Test
        Product"}}]}],"page":"1","per_page":"5"}}'
  recorded_at: Sun, 19 Jul 2015 07:31:41 GMT
recorded_with: VCR 2.9.3
