---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/oauth/token
    body:
      encoding: UTF-8
      string: ! '{"client_id":"nNgGNA54ETOqaXQ7hRZymxqdtwwetJKDVs0v8qGG","client_secret":"YUFV3FrFHGbAJLPsOR8JebwUUhGJg9Z42XKj3Umm","grant_type":"client_credentials"}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.5
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"bc5ec6ac4a121357f6c4b7c8e99cb7b7"'
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"SjXjHQ01wUj7dezYWbqCT4aixbY4UudTJReqxk2A","token_type":"bearer"}'
  recorded_at: Thu, 23 May 2013 14:18:50 GMT
recorded_with: VCR 2.2.5
