---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/users/b2blogin.json?app_key=nNgGNA54ETOqaXQ7hRZymxqdtwwetJKDVs0v8qGG&secret=YUFV3FrFHGbAJLPsOR8JebwUUhGJg9Z42XKj3Umm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"0ddda42c4bd01a653f26a396e27c7416"'
    body:
      encoding: US-ASCII
      string: ! '{"status":{"code":200,"message":"OK"},"response":{"code":"2I6V5iWi4JA26fr8ZiGc","signin_url":"https://www.yotpo.com/callbacks/login?code=2I6V5iWi4JA26fr8ZiGc"}}'
  recorded_at: Thu, 23 May 2013 14:18:54 GMT
recorded_with: VCR 2.2.5
