---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/features?utoken=Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e1525d3950092a57daa70f87a367351a"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"features":[{"id":1,"name":"MapCustomization","description":"Advanced
        general Map customizations","owner_type":"Account","new":null},{"id":2,"name":"Campaigns","description":"Campaigns","owner_type":"Account","new":null},{"id":3,"name":"RichSnippet","description":"Rich
        snippets","owner_type":"Account","new":null},{"id":4,"name":"ReminderAdvancedSettings","description":"Advanced
        Map customizations for orders with multiple products","owner_type":"Account","new":null},{"id":5,"name":"Notifications","description":"Display
        Notifications for b2b user","owner_type":"Account","new":null},{"id":6,"name":"[...]
