---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/products/nNgGNA54ETOqaXQ7hRZymxqdtwwetJKDVs0v8qGG/D-4771/bottomline
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"4f518c8eebe684ec690ae0e38c63b000"'
    body:
      encoding: US-ASCII
      string: ! '{"status":{"code":200,"message":"OK"},"response":{"bottomline":{"average_score":2.92,"total_reviews":103}}}'
  recorded_at: Thu, 23 May 2013 14:18:54 GMT
recorded_with: VCR 2.2.5
