---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/apps/PT34FxZmlNLXSoH8Z2lwJL2kuv63PHijaSqCRc5m/features?utoken=GltrxJnl4IbT3lGgG2FZeu4YHJ3RQCX9VsyxXnxY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yotpo-Parsed-Request:
      - '{"action":"index","controller":"owners_features","app_id":"PT34FxZmlNLXSoH8Z2lwJL2kuv63PHijaSqCRc5m"}'
      Etag:
      - '"a5f435401a471da72f60f5af56ff6312"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"features":[{"id":1,"name":"MapCustomization","description":"Advanced
        general Map customizations","user_enabled":1,"owner_type":"Account"},{"id":2,"name":"Campaigns","description":"Campaigns","user_enabled":1,"owner_type":"Account"},{"id":3,"name":"RichSnippet","description":"Rich
        snippets","user_enabled":1,"owner_type":"Account"},{"id":4,"name":"ReminderAdvancedSettings","description":"Advanced
        Map customizations for orders with multiple products","user_enabled":1,"owner_type":"Account"},{"id":5,"name":"Notifications","description":"Display
        Notifications for b2b user","user_enabled":1,"owner_type[...]
- request:
    method: get
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/features?utoken=Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
  response:
    status:
      code: 401
      message: 'Unauthorized '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":{"message":"You are not authorized to access this page.","code":401,"error_type":"Exceptions::AccessDenied"}}'
  recorded_at: Sun, 20 Mar 2016 13:58:53 GMT
recorded_with: VCR 3.0.1
