---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/products/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/120915246/bottomline
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a49221ff8f7c3f816dfcd4e548a09180"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"bottomline":{"average_score":4.0,"total_reviews":1}}}'
  recorded_at: Sun, 19 Jul 2015 07:31:40 GMT
recorded_with: VCR 2.9.3
