---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy","client_secret":"ZeAbRfZQl8dIohaVuPiFPLbc9a0P1wdFRuOuk6ON","grant_type":"client_credentials"}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b3c4b3ffba9e6f4b76884d57508bd33d"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"access_token":"Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC","token_type":"bearer"}'
  recorded_at: Sun, 19 Jul 2015 07:31:37 GMT
recorded_with: VCR 2.9.3
