---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/products/vzStmYud6bHLto5ksn5DoGoA7ghM0kzjMdH2DS5T/product_url?product_id=120915246&reference=instagram_comment&source&sub_reference=10&utoken=Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.0
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yotpo-Parsed-Request:
      - '{"controller":"products_apps","action":"get_product_url","app_key":"vzStmYud6bHLto5ksn5DoGoA7ghM0kzjMdH2DS5T"}'
      Etag:
      - '"67b0c24e84a5ed8b623fb1f6fe455631"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"url":"http://www.google.com"}}'
  recorded_at: Wed, 21 Sep 2016 11:54:26 GMT
recorded_with: VCR 2.9.3
