---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/users/b2blogin.json?app_key=3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy&secret=ZeAbRfZQl8dIohaVuPiFPLbc9a0P1wdFRuOuk6ON
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8619abaf42a59907bebeb31e06b45728"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"code":"HOO04tTgG97HmGlyRI7a","signin_url":"https://my.yotpo.com/callbacks/login?code=HOO04tTgG97HmGlyRI7a&app_key=3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy"}}'
  recorded_at: Sun, 19 Jul 2015 07:31:39 GMT
recorded_with: VCR 2.9.3
