---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/products?count=10&page=1&utoken=Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"57b29222f5cbb58d0387aeb509d3b840"
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"products":[{"id":817499,"slug":"test-product--8877817082196055893","name":"Test
        Product","images":[{"id":850232,"image_url":"https://cdn-yotpo-images-production.yotpo.com/Product/817499/850232/thumb.png?1455140445","image_content_type":"image/png","big_image_url":"https://cdn-yotpo-images-production.yotpo.com/Product/817499/850232/big.png?1455140445"}],"featured_image_id":850232,"total_reviews":2,"new_reviews":1,"published_reviews":2,"pend_for_web_reviews":0,"domain_key":"120915246","app_key":"3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy","bread_crumbs":"","last_mention":"2017-06-19T10:02:43.000Z","updated_at":"2017-06-19T10:02:42.000Z"},{"id":860215,"slug":"this-amp-_-x27-quot-gt","name":"This
        ! @ # $ % ^ &amp; * _ + = - } { | \\ &#x27; &quot; ; / ? . &gt; ,","images":[],"featured_image_id":null,"total_reviews":0,"new_reviews":0,"published_reviews":0,"pend_for_web_reviews":0,"domain_key":"168859516","app_key":"3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy","bread_crumbs":"","last_mention":"2014-11-08T07:09:21.000Z","updated_at":"2013-10-29T18:26:05.000Z"},{"id":895609,"slug":"a-very-unique-product[...]
