---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/apps/nNgGNA54ETOqaXQ7hRZymxqdtwwetJKDVs0v8qGG/purchases?count=10&page=1&utoken=mz3AdCKGsoxJB00u0gmq2usGE3HI8HDHFZC5dlLl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - 0.0.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"2d30c125778f69cc47810815f0f4f3e9"'
    body:
      encoding: US-ASCII
      string: ! '{"status":{"code":200,"message":"OK"},"response":{"purchases":[{"id":1,"user_email":"vlad6il@gmail.com","user_name":"vlad","product_sku":"123","order_id":"22","product_name":"ttt","product_url":"http://www.google.com","order_date":"2013-05-05T14:10:54Z","product_description":"lalalala","product_image":"http://www.google.com/images/srpr/logo4w.png","delivery_date":"2013-05-18T21:00:00Z","created_at":"2013-05-19T14:10:55Z"},{"id":3,"user_email":"vlad6il@gmail.com","user_name":"vlad","product_sku":"123","order_id":"23","product_name":"ttt","product_url":"http://www.google.com","order_date":"2013-05-06T16:45:38Z","product_description":"lalalala","product_image":"http://www.google.com/images/srpr/logo4w.png","delivery_date":"2013-05-19T21:00:00Z","created_at":"2013-05-20T16:45:38Z"},{"id":4,"user_email":"vlad6il@gmail.com","user_name":"vlad","product_sku":"123","order_id":"24","product_name":"t[...]
