---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/v1/apps/YOTPO_APP_KEY/bottom_lines?utoken=YOTPO_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.6
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ff0fbde54be6b9e5c6986d1fa23808c4"
      X-Ratelimit-Remaining-Minute:
      - '4999'
      X-Ratelimit-Limit-Minute:
      - '5000'
      Ratelimit-Remaining:
      - '4999'
      Ratelimit-Limit:
      - '5000'
      Ratelimit-Reset:
      - '53'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"ok"},"response":{"bottomlines":[{"domain_key":"J1A1063","product_score":4.55769,"total_reviews":156},{"domain_key":"J1D1147","product_score":4.12317,"total_reviews":2395},{"domain_key":"J1D1023","product_score":4.2074,"total_reviews":3081},{"domain_key":"AUTOSHIP","product_score":4.68317,"total_reviews":202},{"domain_key":"J1T1419","product_score":4.19407,"total_reviews":6714},{"domain_key":"J1T1028","product_score":4.13415,"total_reviews":2199},{"domain_key":"J1T1193","product_score":5.0,"total_reviews":1},{"domain_key":"J1T1025","product_score":3.43082,"total_reviews":2219},{"domain_key":"J1T1024","product_score":4.00757,"total_reviews":2114},{"domain_key":"J1T1443","product_score":3.7926,"total_reviews":1432}],"page":1,"per_page":10}}'
  recorded_at: Sat, 16 Jan 2021 02:09:07 GMT
recorded_with: VCR 6.0.0
