---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/users/b2blogin.json?app_key=nNgGNA54ETOqaXQ7hRZymxqdtwwetJKDVs0v8qGG&secret=YUFV3FrFHGbAJLPsOR8JebwUUhGJg9Z42XKj3Umm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - 0.0.4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"0070754770a0ace493837f6d90602af6"'
    body:
      encoding: US-ASCII
      string: ! '{"status":{"code":200,"message":"OK"},"response":{"code":"gmzR1OSUxtRHClgTTJm8","signin_url":"https://www.yotpo.com/callbacks/login?code=gmzR1OSUxtRHClgTTJm8"}}'
  recorded_at: Thu, 23 May 2013 12:04:25 GMT
recorded_with: VCR 2.2.5
