---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/products/vzStmYud6bHLto5ksn5DoGoA7ghM0kzjMdH2DS5T/product_url?sub_reference=10&product_id=120915246&reference=instagram_comment&utoken=Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yotpo-Parsed-Request:
      - '{"controller":"products_apps","action":"get_product_url","app_key":"vzStmYud6bHLto5ksn5DoGoA7ghM0kzjMdH2DS5T"}'
      Etag:
      - '"bb7644cede4430b825dbdd26e204aeaf"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"url":"https://yotpo.com/go/afhj8t2k"}}'
  recorded_at: Thu, 23 Jun 2016 06:47:48 GMT
- request:
    method: get
    uri: https://api.yotpo.com/products/vzStmYud6bHLto5ksn5DoGoA7ghM0kzjMdH2DS5T/product_url?product_id=120915246&reference=instagram_comment&sub_reference=10&utoken=Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yotpo-Parsed-Request:
      - '{"controller":"products_apps","action":"get_product_url","app_key":"vzStmYud6bHLto5ksn5DoGoA7ghM0kzjMdH2DS5T"}'
      Etag:
      - '"bb7644cede4430b825dbdd26e204aeaf"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"url":"https://yotpo.com/go/afhj8t2k"}}'
  recorded_at: Thu, 23 Jun 2016 06:56:21 GMT
recorded_with: VCR 3.0.3
