---
http_interactions:
- request:
    method: get
    uri: https://api.yotpo.com/products/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/yotpo_site_reviews/bottomline
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a49221ff8f7c3f816dfcd4e548a09180"
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"bottomline":{"average_score":4.0,"total_reviews":1}}}'
  recorded_at: Wed, 15 Aug 2018 07:03:06 GMT
