---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/v1/widget/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/images/list
    body:
      encoding: UTF-8
      string: '{"ids":[23,24]}'
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yotpo-Parsed-Request:
      - '{"format":"json","controller":"widget/images","action":"list","app_key":"3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy"}'
      Etag:
      - W/"5fb271f67fa767bd3316eabc14503793"
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"images":[{"id":23,"image_url":"https://s3.amazonaws.com/yotpo-images-test/Review/46/23/thumb.jpg?1488294060","big_image_url":"https://s3.amazonaws.com/yotpo-images-test/Review/46/23/big.jpg?1488294060","image_content_type":"image/jpeg","image_width":640,"image_height":426,"imageable_type":"Review","imageable_id":46},{"id":24,"image_url":"https://s3.amazonaws.com/yotpo-images-test/Review/46/24/thumb.jpg?1488294066","big_image_url":"https://s3.amazonaws.com/yotpo-images-test/Review/46/24/big.jpg?1488294066","image_content_type":"image/jpeg","image_width":1024,"image_height":589,"imageable_type":"Review","imageable_id":46}]}}'
  recorded_at: Mon, 04 Dec 2017 08:05:10 GMT
recorded_with: VCR 3.0.3
