---
http_interactions:
- request:
    method: put
    uri: https://api.yotpo.com/features/11/7/admin_mass_update
    body:
      encoding: UTF-8
      string: '{"utoken":"Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC","settings":{"font_size":"12"}}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a873ac57132fed9ae7f368e3c8c85724"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"}}'
  recorded_at: Sun, 20 Dec 2015 09:16:28 GMT
recorded_with: VCR 3.0.0
