---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/v1/apps/LjRHHPuW4zmcLNyLRAlvEkmGqZ1LULYF62FMIzvM/products_name_by_sku/
    body:
      encoding: UTF-8
      string: '{"utoken":"qMwb2i9iJANf7BtXA0MqhKB9opq2sRLRwNYmXaCK","domain_keys":["10"]}'
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.5
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yotpo-Parsed-Request:
      - '{"format":"json","controller":"products_apps","action":"products_name_by_sku","app_key":"LjRHHPuW4zmcLNyLRAlvEkmGqZ1LULYF62FMIzvM"}'
      Etag:
      - W/"7c20c01de38067e7323a6bb04c1be2fd"
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"ok"},"products":[]}'
  recorded_at: Thu, 13 Dec 2018 13:35:39 GMT
recorded_with: VCR 2.9.3
