---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/apps/nNgGNA54ETOqaXQ7hRZymxqdtwwetJKDVs0v8qGG/reminders/send_test_email
    body:
      encoding: UTF-8
      string: ! '{"utoken":"SjXjHQ01wUj7dezYWbqCT4aixbY4UudTJReqxk2A","email":"vlad@yotpo.com"}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.5
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"a873ac57132fed9ae7f368e3c8c85724"'
    body:
      encoding: US-ASCII
      string: ! '{"status":{"code":200,"message":"OK"}}'
  recorded_at: Thu, 23 May 2013 14:18:50 GMT
recorded_with: VCR 2.2.5
