---
http_interactions:
- request:
    method: post
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/reminders/send_test_email
    body:
      encoding: UTF-8
      string: '{"utoken":"Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC","email":"vlad@yotpo.com"}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a873ac57132fed9ae7f368e3c8c85724"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"}}'
  recorded_at: Sun, 19 Jul 2015 07:31:37 GMT
recorded_with: VCR 2.9.3
