---
http_interactions:
- request:
    method: put
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/app_comment_avatar
    body:
      encoding: UTF-8
      string: '{"utoken":"9VxDwc2bdSH3wVUxMhrXucVETduQv5ikXnRs9Hdp","comments_avatar_data":{"original_filename":"image","data":"aW1hZ2U=\n","content_type":"image/jpg"},"comments_display_name":"Tova"}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a873ac57132fed9ae7f368e3c8c85724"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"}}'
  recorded_at: Tue, 24 Nov 2015 13:48:27 GMT
recorded_with: VCR 3.0.0
