---
http_interactions:
- request:
    method: put
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy
    body:
      encoding: UTF-8
      string: '{"account":{"minisite_website_name":"Minisite Name","minisite_website":"www.google.com","minisite_subdomain":"google","minisite_cname":"reviews.google.com","minisite_subdomain_active":false},"utoken":"Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC"}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a64c729b095276431d213749a5e94440"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"app":{"app_key":"3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy","domain":"http://vlad-test-shop.myshopify.com","minisite_subdomain":"google","name":"vlad
        test shop ","url":"http://vlad-test-shop.myshopify.com","minisite_cname":"reviews.google.com","minisite_website":"www.google.com","minisite_website_name":"Minisite
        Name","referal":"","active":true,"auto_publish":true,"minisite_subdomain_active":false,"account_type":{"id":1,"name":"small","description":"dummy
        description","price":14.9},"account_socials":[],"account_platform":{"id":19340,"shop_token":"0ececa38a17419d3d3bd2326ff4fe967","shop_secret":null,"shop_domain":"vlad-test-shop.myshopify.com","plan_name":"affiliate","platform_type_id":1,"deleted":false,"shop_user_name":null,"secondary_cancelled_charge_at":"2013-10-01T13:17:27Z","secondary_activated_charge_at":null,"secondary_recurring_charge_id":null,"secondary_shop_token":null,"platform_type":{"id":1,"name":"shopify","description":"cool
        e-commerece host and platform","billable":true},"integration_version":"current"},"account_service_providers":[],"bills":[],"users":[{"id":211058,"display_name":"Vladislav
        Shub","slug":"vladislav-shub--5","email":"vladislav@yotpo.com"}],"reminders":[{"id":22179,"account_id":19699,"days_from_purchase":14,"subject":"Please
        review your recent purchases at {store_name}","header":"Write a review to
        receive a coupon for 20% off on your next purchase!\nHello {user},\nYou''ve
        recently bought {product}, what do you think about it?","bottom":"We really
        appreciate your feedback and hope to see you again soon.\n\nThank you from
        {store_name}","mail_interval":5,"max_products":3}],"custom_design":false,"created_at":"2013-09-30T08:22:10Z","updated_at":"2015-07-19T07:31:38Z","secret":"ZeAbRfZQl8dIohaVuPiFPLbc9a0P1wdFRuOuk6ON","auto_login_popup":false,"bottom_line_installed":false,"install_step":"done","customer_language":"en","auto_social_push":false,"customer_mails_sender_name":"vlad-test-shop.myshopify.com","testimonials":{"default_tab":"product_tab","show_tab":"both"},"coupons":[{"id":3917,"account_id":19699,"thank_you":"Thank
        you for writing a review","enabled":true,"action":"map_review","discount":"20%
        off","code":"d5bf04ty","unique":false},{"id":3918,"account_id":19699,"thank_you":"","enabled":true,"action":"map_share","discount":"20%
        off","code":"","unique":false},{"id":3919,"account_id":19699,"thank_you":"Thank
        you for writing and sharing your review","enabled":true,"action":"map_review_share","discount":"20%
        off","code":"d5bf04ty","unique":false}],"map_up_sell_title":null,"tracking_code_status":{"status":"NotInstalled","enable_date":"2013-12-17T08:12:17Z"},"coupon_reminder":{"id":2272,"subject":"Don''t
        forget to redeem your coupon at {store_name}!","body":"Your coupon at {store_name}
        will expire in {days_interval} days.","reminder_type":"days_before_expiration","days_interval":3},"coupons_expiration_date":"2014-02-15","account_emails":[{"id":7538,"account_id":19699,"email_type_id":2,"data":{"header":"Hello
        {user},\nPlease fill out the form below and submit your site review, it would
        be very much appreciated.","subject":"{store_name} - We would love to hear
        your thoughts","bottom":"Thanks so much and we hope to see you again soon
        :) &#13;&#10; - {store_name}"},"days_delay":null}],"cloudsearch_account_id":1446175872,"package":{"id":5,"name":"Downgrade
        Default","description":null,"trial_period":null,"started_at":"2014-01-01T09:53:59Z"},"features_usage_summary":{"questions_and_answers":false,"comments":false,"business_rules":false,"map_customization":false,"testimonials_review_request":false},"data_for_events":{"total_orders":10,"total_reviews":3,"score":null,"downgraded":false,"total_review_request":null,"total_frozen_review_request":null,"interval_review_request":null},"installed":0,"star_installed":false,"partner_key":null}}}'
  recorded_at: Sun, 19 Jul 2015 07:31:38 GMT
recorded_with: VCR 2.9.3
