---
http_interactions:
- request:
    method: patch
    uri: https://api.yotpo.com/core/v3/stores/foo/products/445581456/variants/577594830
    body:
      encoding: UTF-8
      string: '{"variant":{"external_id":"10","name":"New Product Variant","description":"An
        updated description"}}'
    headers:
      Yotpo-Api-Connector:
      - Ruby1.0.6
      X-Yotpo-Token:
      - baz
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
      Ratelimit-Remaining:
      - '4'
      Ratelimit-Limit:
      - '5'
      Ratelimit-Reset:
      - '1'
      Correlation-Id:
      - d8fd1483-568c-4a2f-ada8-0ebad06e9dbd
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 10 Oct 2022 22:29:22 GMT
recorded_with: VCR 6.1.0
