---
http_interactions:
- request:
    method: put
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/features/11/feature_settings/38
    body:
      encoding: UTF-8
      string: '{"utoken":"Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC","value":10,"key":"font_size"}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a873ac57132fed9ae7f368e3c8c85724"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"}}'
  recorded_at: Sun, 20 Dec 2015 07:53:36 GMT
recorded_with: VCR 3.0.0
