---
http_interactions:
- request:
    method: put
    uri: https://api.yotpo.com/apps/nNgGNA54ETOqaXQ7hRZymxqdtwwetJKDVs0v8qGG
    body:
      encoding: UTF-8
      string: ! '{"account":{"minisite_website_name":"Minisite Name","minisite_website":"www.google.com","minisite_subdomain":"google","minisite_cname":"reviews.google.com","minisite_subdomain_active":true},"utoken":"SjXjHQ01wUj7dezYWbqCT4aixbY4UudTJReqxk2A"}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.0.5
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"c5655713a352c8ca14003b519ffe6b79"'
    body:
      encoding: US-ASCII
      string: ! '{"status":{"code":200,"message":"OK"},"response":{"app":{"app_key":"nNgGNA54ETOqaXQ7hRZymxqdtwwetJKDVs0v8qGG","domain":"hammes.biz","minisite_subdomain":"google","minisite_cname":"reviews.google.com","minisite_website":"www.google.com","minisite_website_name":"Minisite
        Name","referal":"","active":true,"auto_publish":true,"minisite_subdomain_active":true,"account_type":{"id":1,"name":"small","description":"dummy
        description","price":14.9},"account_socials":[],"account_platform":{"id":1,"shop_token":null,"shop_domain":null,"plan_name":null,"platform_type_id":2,"deleted":null,"shop_user_name":null,"secondary_cancelled_charge_at":null,"secondary_activated_charge_at":null,"secondary_recurring_charge_id":null,"secondary_shop_token":null,"platform_type":{"id":2,"name":"general","description":"users
        that signup for general purpose","billable":false}},"bills":[],"users":[{"id":4,"display_name":"Vladislav
        Shub","slug":"vladislavshub"}],"reminders":[{"id":1,"account_id":5,"days_from_purchase":11,"subject":"Please
        review your recent purchases at {store_name}","body":null}],"custom_design":false,"created_at":"2013-05-19T14:00:44Z","updated_at":"2013-05-23T14:18:51Z","auto_login_popup":false,"bottom_line_installed":false,"install_step":"0","customer_language":"en","auto_social_push":false,"customer_mails_sender_name":"Rogahn,
        Murray and Bartoletti","testimonials_enabled":false,"testimonials_custom":false,"testimonials_floater_position":null,"testimonials_label":null,"testimonials_default_tab":"product_tab","features":[]}}}'
  recorded_at: Thu, 23 May 2013 14:18:51 GMT
recorded_with: VCR 2.2.5
