---
http_interactions:
- request:
    method: put
    uri: https://api.yotpo.com/reviews/1/comments/695
    body:
      encoding: UTF-8
      string: '{"utoken":"Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC","comment":{"content":"Comment
        content","public":true}}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3101a22510b2a0f0895f4b3583f75c75"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"comment":{"id":695,"commentable_id":2,"commentable_type":"Review","content":"Comment
        content","public":true,"created_at":"2015-11-25T12:44:36Z"}}}'
  recorded_at: Wed, 25 Nov 2015 10:47:27 GMT
recorded_with: VCR 3.0.0
