---
http_interactions:
- request:
    method: put
    uri: https://api.yotpo.com/apps/3ovRYNIb6OIAI0ddS7EfpYkHpi0oTKl6bj82Vjiy/features/5
    body:
      encoding: UTF-8
      string: '{"utoken":"Ufo5XkKXNsuh0k9ZMPndRv4DlV9324ptg730KKqC","feature":{"user_enabled":true}}'
    headers:
      Yotpo-Api-Connector:
      - Ruby0.1.0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"51299b01b2f5c351e292806b417935ce"'
    body:
      encoding: UTF-8
      string: '{"status":{"code":200,"message":"OK"},"response":{"feature":{"name":"Notifications","description":"Display
        Notifications for b2b user"}}}'
  recorded_at: Wed, 25 Nov 2015 14:59:12 GMT
recorded_with: VCR 3.0.0
